// background 

$bg: rgb(23, 23, 23);
$gbg: rgb(2, 20, 34);

// icon colors 

$icon-color: rgb(167, 167, 167);
$icon-color-hover: rgb(137, 133, 133);

// text colors

$wtext: white;
$btext: black;
$gtext: rgb(167, 167, 167);
$gdark-text: rgb(41, 41, 41);

// container 
$container-bg: rgb(18, 18, 18);
$container-bg-hover: rgb(41, 41, 41);
$container-bg-hover-light: rgb(167, 167, 167);

// player 
$range-cursor: #04AA6D;



