@import './colors';
@import './utilies';
@import './media-queries';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $bg;
    @include fontFamily;
}

#app-container{

    @include intermediate{
        display: flex;
        align-items: flex-start;
        
    }

    #left-section{
        @include flexCenter;
        padding: 10px;
        flex-direction: column;
        gap: 5px;
        margin: 30px 0;
        width: 95vw;

        @include intermediate{
            padding: 0 10px;
            width: 30vw;
            min-height: 100vh;
        }

        #primary-container{
            background: $container-bg;
            width: 90vw;
            height: 20vh;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            min-height: 200px;

            @include tablet{
                align-items: center;
            }


            @include intermediate{
                width: 20vw;
            }

           
            #logo-container{
               @include flexCenter;
                gap: 20px;
    
                #logo-img{
                    width: 50px;
                    border-radius: 100%;
                }
    
                #logo-title{
                    color: $icon-color;
                }
            }
    
            .icon-div{
                display: flex;
                align-items: center;
                gap: 10px;
                color: $icon-color;
                font-size: 25px;
                text-transform: capitalize;
                cursor: pointer;
            }


            
                #input-search{
                    border-radius: 10px;
                    text-align: center;
                    width: 100%;
                    max-width: 300px;
                    height: 25px;
                    text-transform: capitalize;
                }

                #srcBtn{
                    &:hover{
                        color: $wtext;
                    }
                }
            

    
        }

        #search-song-container{
            padding: 15px 0;
            color: $icon-color;
            background: $container-bg;
            border-radius: 20px;
            width: 90vw;
            text-align: center;
            text-transform: capitalize;
            @include flexCenter;

            @include intermediate{
                height: 300px;
                width: 20vw;
            }


            #song-found-container{

                gap: 10px;

                @include tablet{
                    display: flex;
                    align-items: center;
                }

                @include intermediate{
                    flex-direction: column;
                }

                .img-container{
                    #song-found-img{
                        width: 90px;
                        border-radius: 10px;

                        @include intermediate{
                            width: 150px;
                        }
                    }
                }

                .info-container{

                    #loader{
                        font-size: 20px;
                        animation-name: loading;
                        animation-duration: 3s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        display: none;

                        @keyframes loading{
                            from{
                                transform: rotate(0deg);
                            } to{
                                transform: rotate(360deg);
                            }
                        }



                    }

                    #song-found-title{
                        color: $wtext;
                        font-size: auto;
                        text-align: center;

                        @include intermediate{
                            font-size: 25px;
                        }
                    }

                    #song-found-artist{
                        font-size: 15px;
                    }

                    #song-found-duration{
                        font-size: 9px;
                    }
                }

            }
        }

        #select-song-title{
            background: linear-gradient(to right, $range-light, $range-light); 
            color: transparent;
            background-clip: text;
            -webkit-text-fill-color: linear-gradient(to right, $range-light, $range-light);
            text-align: center;
            margin-bottom: 10px;
            text-transform: capitalize;

            @include intermediate {
                width: 75vw;
            }
        }

        #song-container{
            display: flex;
            flex-direction: column;
            gap: 5px;
            background: $container-bg;
            width: 90vw;
            border-radius: 20px;
            padding: 15px 10px;


            @include intermediate{
                height: 500px;
                width: 20vw;
            }
    
    
    
           .single-song{
            display: flex;
            gap: 10px;
            cursor: pointer;
            max-height: 106px;
            border-radius: 10px;
            overflow: hidden;
    
            &:hover{
            background: $container-bg-hover;
    
            }
    
            .left-img{
                img{
                    height: 105px;
                }
            }
    
            .right-info{
                color: $icon-color;
                padding: 10px 0;
                text-transform: capitalize;
    
                .song-title{
                    font-size: 20px;
                    color: $wtext;
                }
            }
           }
        }
    
       
    }
    
    #right-section{
        margin-bottom: 350px;
        @include flexCenter;
        flex-direction: column;
        gap: 20px;
        width: 95vw;

        @include intermediate{
            align-items: flex-start;
            width: 60vw;
            margin-bottom: 100px;
        }

       
    
       

        #library-container{
            background: $container-bg;
            width: 90vw;
            border-radius: 20px;

            @include intermediate{
                width: 65vw;
                height: 85vh;
            }
    
            // icon div 
    
            .icon-div{
                display: flex;
                justify-content: space-between;
                padding: 5px 15px;
                font-size: 15px;
                color: $icon-color;
    
                .left-div{
                    display: flex;
                    align-items: center;
                }
    
                i, p{
                    cursor: pointer;
                }
            }
    
            // option container
    
            #option-container{
                @include flexCenter;
                margin: 10px 0 ;
                gap: 10px;

                @include intermediate{
                    gap: 5px;
                    padding: 5px;
                }

                .option{
                    @include flexCenter;
                    background-color: $container-bg-hover;
                    border-radius: 10px;
                    width: 18vw;
                    color: $icon-color;

                    @include intermediate{
                        width: 8vw;
                    }
    
                    &:hover{
                        cursor: pointer;
                        background-color: $container-bg-hover-light;
                        color: $gdark-text;
                    }
                }
            }
    
            .right-div{
                @include flexCenter;
                gap: 10px;
            }
    
            // recent container
            #recent-container{
                padding: 0 0 10px 10px ;
    
                .single-recent{
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
    
                    &:hover{
                        background: $container-bg-hover;
                        cursor: pointer;
                    }
                    .left-recent{
                        img{
                            width: 60px;
                            border-radius: 10px;
                        }
                    }
    
                    .right-recent{
                        margin-left: 20px;
                        
                        .recent-title{
                            color: $wtext;
                            text-transform: capitalize;
                        }
    
                        .subtitle{
                            display: flex;
                            align-items: center;
                            color: $icon-color;
                            gap: 5px;
                            font-size: 12px;
    
                            .bx{
                                font-size: 5px;
                            }
                        }
                    }
                }
            }
    
        }


        #player-container{
            margin-top: 30px;
            padding-top: 15px;
            color: $icon-color;
            background: $container-bg;
            width: 90vw;
            border-radius: 20px;
            @include flexCenter;
            flex-direction: column;

            position: fixed;;
            bottom: 15px;
            z-index: 5;
            opacity: 95%;
            box-shadow: -2px -2px 4px $wtext;

            @include intermediate{
                width: 65vw;
                bottom: 0;
                opacity: 100%;
                position: static;
                box-shadow: none;

                flex-direction: row;
                min-height: 150px;
                gap: 35px;
                align-items: center;
                padding: 15px 50px;
                justify-content: space-between;


                & > :nth-child(2){
                    order: 2;
                }

                
            }

            #song-play-detail{
                display: flex;
                gap: 10px;

                #img-play-song{
                        width: 60px;
                    
                        @include intermediate{
                            width: 130px;
                        }
                }

                #song-title-artist-container{
                    text-transform: capitalize;

                    #song-play-title{
                        font-size: 20px;
                        color: $wtext;
                    }

                    #song-play-artist{
                        font-size: 15px;
                    }
                }
            }

            .time-container{


                #progress-container{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    gap: 7px;
                    margin-top: 10px;

                    @include intermediate{
                        flex-direction: row;
                    }

                    .time-details{
                        font-size: 12px;
                    }
                }

                .range-input{
                    -webkit-appearance: none; 
                    appearance: none;
                    width: 250px;
                    height: 6px;
                    background: $icon-color;
                    border-radius: 4px;
                    cursor: pointer;

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 10px; 
                        height: 10px; 
                        border-radius: 100%;
                        background: $range-cursor; 
                        cursor: pointer; 
                      }

                }

                #volumeSlider{
                    background: linear-gradient(to right,$range-light, $range-cursor);
                    margin-top: 5px;
                    height: 8px;
                    
                    &::-webkit-slider-thumb {
                        background: $range-dark;
                        border: 0.3px solid white;
                    }

                   
                }

                .volume-container{
                    gap: 10px;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    display: none;

                    @include tablet{
                        display: flex;
                    }

                    @include intermediate{
                        flex-direction: row;
                        margin-top: 30px;
                    }
                }
            }

            .icon-container{
                font-size: 30px;
                @include flexCenter;


                .bx{
                    cursor: pointer;

                    &:hover{
                        color: $range-cursor;
                    }
                }

                #ctrlIcon{
                    font-size: 50px;
                }
            }
        }
    }
}